.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    gap: 20px;
    font-size: 25px;
}

.title {
    color: rgb(0, 17, 255);
}