/** flex or grid on stylzijg the pages**/

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow1 {
    float: left;
    padding-top: 20%;
}

.arrow2 {
    float: right;
    padding-top: 20%;
}
.photo {
    box-shadow: solid, light-gray, 3px 3px;
    
}